
@import "tailwindcss";

/*
@plugin "tailwindcss-animate";
*/

@variant dark (&:where(.dark, .dark *));

@import "./theme/theme.css";

@layer base {
  *,
  ::before,
  ::after {
    border-color: var(--color-border);
  }

  /*
    Restore pointer cursor for buttons.
  */

  button,
  [role='button'] {
    cursor: pointer;
  }

  button:disabled,
  [role='button']:disabled {
    cursor: default;
  }
}